/* PROFILE*/

.info-profile {
  display: grid;
  grid-template-columns: 2fr 3fr;
  // max-height: 400px;
  overflow: hidden;
  margin: 70px auto;
  position: relative;
  h1 {
    font-size: 40px;
    font-weight: 600;
  }
  img {
    margin-top: 30px;
    width: 100%;
  }
}

.contact-intro {
  border-right: 3px solid #FEDD33;
  margin: 30px;
  padding-right: 40px;
  min-height: 392px;
}

@media(max-width: 768px) {
  .info-profile {
    max-height: none;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
}

@media(max-width: 425px) {
  .info-profile {
    margin: 0 auto;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    .contact-intro {
      border-right: none;
      object-fit: cover;
      padding: 0;
      margin: 10px 10px 10px 0;
      // width: 100%;
    }
    img {
      margin-top: 10px;
      height: 300px;
      width: 100%;
    }
    .tech-skills {
      margin: 0 auto;
      width: 100%;
    }
  }
}


// CONTACT

.email-tel {
  margin: 0 auto;
  text-align: right;
  font-family: $bold-font;
  font-weight: 600;
  a {
    margin-bottom: 1rem;
    padding: 0 3px;
    color: $gray;
    &:hover{
      text-decoration: none;
      color: $gray;
      background-color: $yellow;
    }
  }
}

// WORK EXPERIENCE

.about-section{
 display: grid;
 grid-template-columns: 2fr 4fr;
 h2{
  width: 80%;
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  border-top: 3px solid $yellow;
}
}

.about-section-left {
  margin: 0 0 50px 30px;
}

.column-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.skills-list{
  margin: 0 30px 40px 30px;
  ul {
    padding: 0 0 0 20px;
  }
}


.job-title {
  font-weight: 600;
  font-family: $bold-font;
}

.job-firstline {
  display: flex;
}

.location {
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  margin: 3px 10px;
}

.work-period{
  font-style: italic;
  padding-left: 30px;
  margin-right: 30px;
  margin: 10px 53% 10px -30px
}


@media(max-width: 768px) {
  .about-section {
    display: block;
    margin: 0 auto;
    max-width: 700px;
  }
  .work-period {
    margin: 10px 0 10px -50px;
    background-color: white;
  }
  .job-firstline {
    display: block;
    .location {
      margin: -10px 0 10px 0;
    }
  }
}


@media(max-width: 425px) {
  .column-skills {
    display: block;
  }
}

