.button {
  font-size: 16px;
  color: $yellow;
  width: 250px;
  padding: 10px;
  border: 1px solid $yellow;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  &:hover {
    overflow:hidden;
    color: white;
    background-color: $yellow;
    text-decoration: none;
    cursor: pointer;
  }
}

.button-full {
  color: white !important;
  background-color: $yellow;
  width: 100%;
  margin-right: 5px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
}


@media(max-width: 768px) {
  .button {
    font-size: 10px;
  }
  .button-full {
    font-size: 10px;
  }
}

@media(max-width: 425px) {
  .nav-links {
    justify-content: space-between !important;
    margin: 10px 0 !important;
  }

  .button {
    font-size: 10px;
    width: auto;
    padding: 10px;
  }
  .button-full {
    font-size: 8px;
    padding: 5px;
  }
}

// BUTTON NAVIGATION on project pages

.back-button {
  color: $yellow;
  padding-top: 20px;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

.btn-see-project {
  text-align: center;
  margin: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
