/* Footer */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  // background-color: $background-color;
  height: 90px;
  margin-top: 30px;
  padding-left: 12%;
  color: $light-blue-grey;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $light-blue-grey;
  text-decoration: none;
  font-size: 24px;
  padding: 20px 0;
  margin-right: 20px;
}
.footer-links a:hover {
  opacity: 1;
  color: $yellow;
}

