.logo-fst {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 80px;
  p {
    padding-left: 30px;
  }
}

@media(max-width: 768px) {
  .logo-fst {
    display: block;
    margin: 0;
    p {
      padding: 0;
    }
    img{
      margin-left: 35%;
    }
  }
}
