.image-project-list {
  column-count: 2;
  column-gap: 50px;
  padding: 5px;
  list-style-type: none;
  img {
    height: 50%;
    margin: 20px auto;
    width: 100%;
    // box-shadow: 0 0 10px rgba(0,0,0,0.2);

  }
}

.image-project-list-3 {
  column-count: 2;
  column-gap: 50px;
  padding: 5px;
  list-style-type: none;
  img {
    margin: 30px auto;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

  }
}


@media(max-width: 768px) {
  .image-project-list-3 {
    column-count: 1;
  }
}


.img-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 50%;
    margin: 30px 30px 30px 0;
  }
}

@media(max-width: 1024px) {
  .img-left {
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      margin: 20px 0;
      object-fit: cover;
    }
  }
}
