.banner-ironhack {
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://res.cloudinary.com/dduozp62x/image/upload/c_scale,w_1200,q_auto/v1565429529/portfolio/ironhack-banner_oqfrcz.png");
  background-attachment: fixed;
  z-index: -2;
}


.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  .header-quote {
    margin: auto;
    line-height: 150%;
    font-weight: 600;
    font-size: 600%;
  }
  a{
    color: white;
    &:hover{
      color: $yellow;
      text-decoration: none;
    }
  }
  h1{
    border-bottom: solid 1px $yellow;
    font-weight: 600;
    font-size: 500%;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 150%;
  }
  .name-color{
    color: $yellow;
  }
}

.persona-intro {
  display: flex;
  justify-content: space-around;
  img {
    margin-left: 30px;
  }
}

.mindmap-scope {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    margin: 30px;
  }
}

@media(max-width: 768px) {
  .mindmap-scope {
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      margin: 0;
      object-fit: cover;
    }
  }
}

.wireframing {
  margin-bottom: 50px;
}


@media(max-width: 768px) {
  .persona-intro {
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      margin: 0;
      object-fit: cover;
    }
  }
}

