.mobile-screen-view {
  width: 25%;
}

.persona-intro {
  text-align: center;
  img {
    margin: 30px;
  }
}

.mindmap-scope {
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 50%;
    margin: 30px;
  }
}

.app-view {
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  .detail-view {
    padding: 5px;
    width: 45%;
    margin-right: 50px;
    text-align: left;
  }
  img {
    height: 40%;
    margin: 20px;
  }
}

.wireframing {
  text-align: center;
  margin-bottom: 50px;
}

@media(max-width: 768px) {
  .mindmap-scope {
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      margin: 0;
      object-fit: cover;
    }
  }

  .persona-intro {
    img {
      width: 100%;
      margin: 0;
      object-fit: cover;
    }
  }

  .app-view {
    .detail-view {
      width: 300px;
      margin-right: 30px;
    }
    img {
      height: 400px;
      margin: 20px;
    }
  }

  .gif-wireframe {
    width: 100%;
    padding: 0;
    object-fit: cover;
    overflow: hidden;
  }
}

.link-prototype {
  color: $yellow;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

@media(max-width: 425px) {

  .mobile-screen-view {
    width: 55%;
  }
  .app-view {
    display: block;
    .detail-view {
      width: 100%;
    }
    img {
      height: 300px;
      margin: 20px;
    }
  }
}
