.banner-recruit-me {
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://res.cloudinary.com/dduozp62x/image/upload/c_scale,w_800,q_auto/v1565429552/portfolio/recruitme-banner_coyqys.png");
  background-attachment: fixed;
  z-index: -2;
}


.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  .header-quote {
    margin: auto;
    line-height: 150%;
    font-weight: 600;
    font-size: 600%;
  }
  a{
    color: white;
    &:hover{
      color: $yellow;
      text-decoration: none;
    }
  }
  h1{
    border-bottom: solid 1px $yellow;
    font-weight: 600;
    font-size: 500%;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 150%;
  }
  .name-color{
    color: $yellow;
  }
}


.color-scheme-img {
  text-align: center;
  img {
    margin: 30px;
  }
}

.user-journey-info {
  .column {
    height: 100%;
    float: left;
    width: 50%;
    padding: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img {
    width: 100%;
  }
  a {
    color: $light-gray;
    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
  li {
    padding-left: 20px;
  }
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
  .grid-item img {
    padding: 20px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .legend-mockups {
    text-align: center;
    font-size: 12px;
  }
}

.user-journey-info {
  display: flex;
  align-items: center;
}


.login-recruitme {
  text-align: center;
  margin: 50px auto;
  font-size: 12px;
  color: $light-gray;
}

@media(max-width: 768px) {
  .header-banner {
    h1 {
      font-size: 25px;
      padding: 0;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    margin: 30px;
  }
  .user-journey-info {
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      margin: 0;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  .user-journey-info {
    .column {
      height: 100%;
      width: 100%;
    }
  }
}

@media(max-width: 425px) {
 .grid-container {
  grid-template-columns: 1fr;
  margin: 10px;
}
  .color-scheme-img {
    img {
      margin: 0;
      width: 100%;
    }
  }
  .user-journey-info {
    ol {
      padding-left: 15px;
    }
    li {
      padding-left: 5px;

    }
  }

}




