.banner-recruit-me {
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://res.cloudinary.com/dduozp62x/image/upload/c_scale,w_800,q_auto/v1565429552/portfolio/recruitme-banner_coyqys.png");
  background-attachment: fixed;
  z-index: -2;
}


.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  .header-quote {
    margin: auto;
    line-height: 150%;
    font-weight: 600;
    font-size: 600%;
  }
  a{
    color: white;
    &:hover{
      color: $yellow;
      text-decoration: none;
    }
  }
  h1{
    border-bottom: solid 1px $yellow;
    font-weight: 600;
    font-size: 500%;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 150%;
  }
  .name-color{
    color: $yellow;
  }
}


@media(max-width: 768px) {
  .header-banner {
    h1 {
      font-size: 25px;
      padding: 0;
      margin-bottom: 20px;
    }
    p {
    font-size: 14px;
  }
  }
}

.screens {
  text-align: center;
  margin: 50px auto;
  ul {
    margin-top: 30px;
  }
}

@media(max-width: 768px) {
  .image-project-list {
    column-count: 1;
    ol {
      padding-inline-start: 0;
      list-style-type: none;
    }
    li {
      margin-top: 15px;
    }
  }
}

.ui-figma {
  margin: 50px auto;
  ol > li{
    margin-top: 30px;
  }
}

@media(max-width: 768px) {
  .ui-figma {
    img {
      width: 100%;
      margin: 0;
      object-fit: cover;
    }
  }
}

.user-journey-info {
  display: flex;
  align-items: center;
}

@media(max-width: 768px) {
  .user-journey-info {
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      margin: 0;
      object-fit: cover;
    }
  }
}

.login-recruitme {
  margin: 50px 0;
  font-size: 12px;
  color: $light-gray;
}

